<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to MusiqApp!</h1>
    <p>A simple music app for your complex music taste :)</p>
    <pre>
                                         ...
                        .-.            :+++++===++===--:.                            .:::.
                      :*###-           .++++++++++++++++++-.                         :+++:
                    :#######-           :+++++++++++++++++++-.                       -+++:
                  .*####*###*.           -+++++-:.  ..-+++++++:                      =++=.
                 .*###-  *###-            ++++:..        .=++++.                    .+++-.
                 *###:   +###+            .++++++++++=-.   .=++=.                   :+++:
                =###:    *###=             -++++++++++++++-. :++:                   -+++:
                *##*.   =###*.              +++++++++++++++++..=:                   =++=.
               .*##=.  +####-               .++++.....:-++++++=.                   .+++-.
               .*##-..*####=                 -+++-       .-++++=.                  :+++-
                *##**#####+                   ++++.        .-+++-.                 -+++:
                *########-                    .++++.         :+++:                 -+++.
               :*######*.                      -+++-          .++:                .=++=.
             :*######*:                         ++++:          :=.                :+++-
           .*#######*.                          .++++.                            -+++:
         .+#########*.                    .:=++++++++-                    .....   -+++:
        :*#####*:*##*.                  .=++++++++++++:                .-+++++++-:=++=.
       -#####*: .=####**-..            .+++++++++++++++               -++++++++++++++-
      :#####= .*###########*.          -+++++++++++++++.             -+++++++++++++++-
     .*###*= =###############*.        -+++++++++++++++              =+++++++++++++++:
    .=####= :*################*.       .++++++++++++++.              -++++++++++++++=.
    .*###*. =####**###..:=#####*        .-++++++++++-.                =+++++++++++++:
    .*###*  :*#*- -###:   :####*.         .:=+++=-:.                   :++++++++++:.
    .=###*:  =#*. .###=.  .*###*.                                        .:----:.
     .*###*.  :-.  *##*.  .*###+
      :*###*.      *##*. .=###*:
       :*####+:.   =###:=*####-        ::..          :**####################*:
        .-*#####**+*########*.        :+++-.         .*######################*.
           :*#############*.          =+++=.          :*######################+
               .:=++###*             :+++++:           -###*.              -###-
            :+*=:.  +###             =++++++:          .=######################*:
          :*######- -###:           :++++++++:          .*######################*.
          +#######*.:###-           -+++++++++:          :*###*++++++++======*###+
          =#######=.+###.          .+++++++++++-          =###+.             .+##*-
          .+######*####-           -+++: .++++++:         .+###-              :*##*:
            :+#######=.           .=+++.  .=+++++.         .*##*:              -###*.
               .:::.              -+++-     =++++-          -*##*.             .=###=
                                 .=+++:     .++++=           =###=.             .*##*-
                                 :+++-       ++++=           .*###-              :*##*:
                                .=+++:       ++++:            .*##*:              -###+.
                        ...     :+++=.      .++++              -###+.             .+###-
                     .=++++++-..=+++:       -+++.               +###=.       .:=****###*:
                   .+++++++++++++++=.      :+++.          ..-+**+####:     .+###########*.
                  .++++++++++++++++:      -++:          .=###########*.   .*#############-
                  :+++++++++++++++=.     -=.           .+#############*. .=##############+.
                  .+++++++++++++++-                    -###############. .+##############=.
                   -+++++++++++++=.                    -##############*.  .#############*:
                    .+++++++++++-.                     :*#############:    .*##########=.
                      .:-=+=-:..                        .*##########*:       .=**##**-.
                                                          :=*####*+:
                                                                                            </pre>
</body>
</html>